<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% include "Header.html" %}
    <form method="POST">
        {% csrf_token %}
        <div align="center">
            <h1>Add TimeTable</h1>

            {% if form.error %}
                <h3><font color="red"> {{ form.message }} </font></h3>
            {% else %}
                <h3><font color="green"> {{ form.message }} </font></h3>
            {% endif %}
            <table>
                <input type="hidden" name="id" value="{{form.id}}">
                <tr>
                    <th>Exam Time:</th>
                    <td>
                         <select name="examTime">
                            <option value="{{form.examTime}}">{{form.examTime}}</option>
                            <option>9:00AM to 1:00PM</option>
                            <option>2:00PM to 4:00PM</option>
                            <option>4:00PM to 7:00PM</option>
                        </select>
                    </td>
                    <td style="position: fixed; color: red;">{{ form.inputError.examTime }}</td>
                </tr>
                <tr>
                    <th>Exam Date:</th>
                    <td><input type="date" name="examDate" value="{{form.examDate}}" style="width: 98%;"></td>
                    <td style="position: fixed; color: red;">{{ form.inputError.examDate }}</td>
                </tr>
                <tr>
                    <th>Subject Id:</th>
                    <td><input type="number" name="subjectId" value="{{form.subjectId}}" style="width: 98%;"></td>
                    <td style="position: fixed; color: red;">{{ form.inputError.subjectId }}</td>
                </tr>
                <tr>
                    <th>Subject Name:</th>
                    <td><input type="text" name="subjectName" value="{{form.subjectName}}" style="width: 98%;"></td>
                    <td style="position: fixed; color: red;">{{ form.inputError.subjectName }}</td>
                </tr>
                <tr>
                    <th>Course Id:</th>
                    <td><input type="number" name="courseId" value="{{form.courseId}}" style="width: 98%;"></td>
                    <td style="position: fixed; color: red;">{{ form.inputError.courseId }}</td>
                </tr>
                <tr>
                    <th>Course Name:</th>
                    <td><input type="text" name="courseName" value="{{form.courseName}}" style="width: 98%;"></td>
                    <td style="position: fixed; color: red;">{{ form.inputError.courseName }}</td>
                </tr>
                <tr>
                    <th>Semester:</th>
                    <td>
                        <select name="semester" style="width:100%">
                            <option value="{{form.semester}}">{{form.semester}}</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        </select>
                    </td>
                    <td style="position: fixed; color: red;">{{ form.inputError.semester }}</td>
                </tr>
                <tr>
                    <th></th>
                    <td><input type="submit" value="save"></td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>